<!-- Hero Default: Usuario no logueado -->
<section class="hero hidden" id="hero-default">
    <h1 class="hero-title">¿Por Qué Trabajamos?</h1>
    <p>Queremos que tu experiencia en el gimnasio sea la mejor. En Workout Vision te ayudaremos a entender el porqué de cada ejercicio y cómo aplicarlos.</p>
    <a href="#mas-informacion" class="btn-hero">Más información</a>
</section>

<!-- Hero Logged: Usuario logueado sin rutinas -->
<section class="hero hidden" id="hero-logged-no-routines">
    <h1 class="hero-title">¿Aún no tienes una rutina?</h1>
    <p>¿Qué esperas? ¡Crea una ahora mismo!</p>
    <button class="btn-hero" id="viewAvailableRoutines">Ver Ejercicios</button>
</section>

<!-- Hero Routines Recommended: Rutinas recomendadas -->
<section class="hero hidden" id="hero-recommended-routines">
    <h1 class="hero-title">Rutinas Disponibles</h1>
    <div class="cards-container">
        <!-- Las rutinas se cargarán dinámicamente aquí -->
    </div>
</section>
